.footer__mainContent {
    display: grid;
    grid-template-columns: 3fr 5fr;
}

aside h2 {
    font-size: 40px;
}

footer aside {
    background-color: #FAC663;
    display: grid;
    padding: 10% 25%;
}

.aside__info h3 {
    padding-bottom: 3%;
}

.footer__end {
    display: flex;
    justify-content: space-around;
    color: #8F8F8F;
    font-weight: lighter;
    padding: 20px 0;
    border-top: 2px solid #EFEFEF
}