* {
    font-family: 'Lato', sans-serif;
    src: url('fonts/Lato-Regular.ttf');
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: .7s;
}

header a:hover {
    background-size: 100% 2px;
    transition: .3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 98px;
}

.header__ul {
    display: flex;
    list-style-type: none;
}

.header__ul a {
    color: black;
    text-decoration: none;
}

.header__ul li {
    padding: 0 30px;
}

.mobile-image {
    display: none;
}

@media (max-width: 790px) {
    header {
        padding: 5px 10px;
        height: 70px;
    }
    header nav {
        display: flex;
        align-items: center;
    }
    footer header nav ul {
        display: block !important;
    }
    header {
        padding: 5px 10px;
        height: 70px;
    }
    header nav {
        display: flex;
        align-items: center;
    }
    .show_menu {
        animation: show_header_menu 1s;
        display: block !important;
    }
    .hide_menu {
        animation: hide_header_menu 1s;
        display: none !important;
    }
    .mobile-image {
        display: block;
    }
    #navigation {
        display: none;
    }
    #mobile-button2 {
        display: none;
    }
    @keyframes hide_header_menu {
        from {
            opacity: 100%;
        }
        to {
            opacity: 0%;
        }
    }
    @keyframes show_header_menu {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
}