* {
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: .7s;
}

header a:hover {
    background-size: 100% 2px;
    transition: .3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 98px;
}

.header__ul {
    display: flex;
    list-style-type: none;
}

.header__ul a {
    color: black;
    text-decoration: none;
}

.header__ul li {
    padding: 0 30px;
}