.main__header {
    background: url(../images/main_header/cat.svg) no-repeat;
    background-size: 100%;
    padding: 13% 20%;
}

.main__header h1 {
    font-size: 50px;
}

.main__header button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 0;
    background-color: white;
    padding: 4px 4px 4px 15px;
    border-radius: 25px;
}

.main__header button img {
    padding-left: 8px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section article h2 {
    padding: 2% 0;
    display: flex;
    justify-content: center;
}

.why-we-are {
    display: grid;
    grid-gap: 4% 3%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.why-we-are__why-block {
    border-radius: 7px !;
    padding: 20px;
    box-shadow: 0 0 10px rgb(240, 240, 240);
    width: 300px;
}

.why-we-are__why-block:nth-child(1) {
    grid-column: 1/1;
}

.why-we-are__why-block img {
    padding-bottom: 3%;
}

.numbers_main {
    width: 100%;
    ;
    background: url(../images/main_articles/fish-back.svg) no-repeat;
    background-size: 40%;
}

.numbers {
    background-image: url(../images/main_articles/sleep_cat.svg);
    background-size: cover;
    height: 7em;
}

.numbers__sleepcat {
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    left: 15%;
    margin-top: 20px;
}

.nunmbers__block {
    list-style-image: url(../images/main_articles/list-image.svg);
    padding: 20px 80px 20px 80px;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(235, 235, 235);
    z-index: 2;
    margin-top: 7%;
    left: 48%;
    width: 280px;
}

.nunmbers__block ul li {
    padding-bottom: 10px;
}

.nunmbers__block button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #FF7236;
    color: white;
    border: 0;
    padding: 4px 4px 4px 15px;
    border-radius: 35px;
}

.nunmbers__block button img {
    padding-left: 10px;
}

.slideshow_prev,
.slideshow_next {
    cursor: pointer;
    background-color: white;
    color: rgb(255, 153, 0);
    box-shadow: 0 0 10px rgb(235, 235, 235);
    display: inline-block;
    border-radius: 100px;
    padding: 8px 14px;
    font-weight: 900;
    margin-left: 5px
}

.slideshow__points {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 17%;
    margin-top: -20px;
}

.dots-block {
    display: flex;
    justify-content: center;
    margin-top: 33em;
}

.dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    margin: 0 4px;
}

.active {
    background-color: #FAC663;
}

.slideshowTwo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.mySlidesTwo {
    background: white;
    padding: 25px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: 80% 10% 10%;
    box-shadow: 0 0 15px rgb(235, 235, 235);
}

.mySlidesTwo:last-child::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.mySlidesTwo h2 {
    grid-column: 1;
    font-size: 90px;
    color: rgb(255, 153, 0);
}

.mySlidesTwo p {
    grid-column: 2/5;
}

.mySlidesTwo__name {
    grid-row: 3/3;
    grid-column: 2/4;
    color: rgb(165, 165, 165);
}

.mySlidesTwo time {
    color: rgb(165, 165, 165);
    grid-row: 3/3;
    grid-column: 4/4;
}

.dots-block-two {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.callbacks {
    width: 100%;
    background: url(../images/main_articles/big-paw.svg) no-repeat;
    background-position-x: 110%;
    background-position-y: -50px;
}

.aside__links {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

main button a {
    text-decoration: none;
    color: white;
}


/* Адаптив */

@media (max-width: 1800px) {
    .dots-block {
        margin-top: 27em;
    }
}

@media (max-width: 1500px) {
    .dots-block {
        margin-top: 21em;
    }
}

@media(max-width: 1300px) {
    .why-we-are {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5% 6%;
    }
    .slideshow__points {
        display: none;
    }
    section article:nth-child(2)>h2 {
        margin-top: 10%
    }
    footer .map img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    footer aside h2 {
        font-size: 25px;
    }
    footer aside h3 {
        font-size: 15px;
    }
    footer aside {
        padding: 20px;
    }
    .footer__mainContent {
        grid-template-columns: 1fr 1fr !important;
    }
    .mySlidesTwo:last-child {
        display: none;
    }
    .mySlidesTwo {
        width: 300px;
        padding: 15px;
        grid-template-columns: repeat(5, 1fr);
    }
    .slideshowTwo {
        display: flex;
        justify-content: space-around;
    }
    .dots-block-two {
        margin-bottom: 20px;
    }
    .dots-block {
        margin-top: 26em;
    }
    .mySlidesTwo p,
    .mySlidesTwo time,
    .mySlidesTwo .mySlidesTwo__name {
        font-size: 13px;
    }
    .mySlidesTwo h2 {
        grid-column: 1/1;
    }
    .mySlidesTwo p {
        grid-column: 2/7;
    }
    .mySlidesTwo time {
        grid-row: 2/2;
        grid-column: 6/6;
    }
    .mySlidesTwo__name {
        grid-column: 2/5;
        grid-row: 2/2;
    }
    .nunmbers__block {
        padding: 10px 40px;
        right: 10%;
        width: 280px;
    }
    .numbers {
        height: .1%;
    }
}

@media (max-width: 750px) {
    .main__header {
        height: 300px;
        background-size: 130%;
    }
    article>h2 {
        padding: 40px 0;
    }
    .why-we-are {
        grid-template-columns: 1fr;
        grid-gap: 1%;
    }
    .numbers>* {
        position: static;
        margin: 0;
    }
    .numbers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #numbers {
        margin-top: 15%;
    }
    .numbers__sleepcat {
        width: 400px;
        border-radius: 10px 10px 0 0;
    }
    .nunmbers__block {
        border-radius: 0 0 10px 10px;
        padding: 25px;
        width: 350px;
        box-shadow: 0;
    }
    .dots-block {
        margin-top: 0;
    }
    .slideshowTwo {
        margin-bottom: 20px;
    }
    .mySlidesTwo:nth-child(2) {
        display: none;
    }
    .dots-block-two {
        display: none;
    }
    header nav ul li a {
        font-size: 15px;
    }
    header nav ul {
        display: block !important;
    }
    .main__header {
        padding: 1%;
    }
    .main__header h1 {
        font-size: 25px;
    }
    .main__header h4,
    .main__header h3 {
        font-size: 15px;
    }
    footer aside {
        grid-column: 1/3;
    }
    footer .map {
        grid-column: 1/3;
    }
}

@media (max-width: 400px) {
    .nunmbers__block {
        width: 250px;
    }
    .numbers__sleepcat {
        width: 300px;
    }
}