.main__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

main {
    padding: 20px 98px;
}

.hide {
    transition: 1s;
}

.tree {
    width: 140px;
    box-shadow: 0 0 10px rgb(233, 233, 233);
    cursor: pointer;
    position: absolute;
    list-style: none;
    right: 98px;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    border-radius: 10px;
}

.tree>li>ul>li {
    padding: 3px 0;
    list-style: none;
}

.tree>li {
    padding: 6px 12px 6px 15px;
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2%;
}

.aside div {
    display: flex;
    flex-direction: column;
}

.aside__header {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 50px;
}

.aside__header h4 {
    grid-column: 1/3;
}

.aside__header input[type='text'] {
    padding: 5px 5px;
    border: .4px solid lightgray
}

main .aside div {
    padding: 20px 0;
}

.aside div h4 {
    padding-bottom: 10px;
}

.aside__header input {
    width: 30px;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    margin-top: 15px;
}

label::before {
    margin-right: 6px;
    display: inline-block;
    content: '';
    background-color: white;
    border: .8px solid lightgray;
    height: 12px;
    width: 12px;
    transition: .4s;
    border-radius: 1px;
}

input[type="checkbox"]:checked+label::before {
    border-radius: 10px;
    background-color: rgb(172, 255, 190);
    border: 1px solid rgb(241, 241, 241);
}

.drop-filter {
    margin-top: 20px;
    font-weight: bolder;
    padding: 12px 35px;
    background-color: white;
    border: 2px solid#FAC663;
    border-radius: 50px;
}

.numbers__number>img {
    position: relative;
    height: 200px;
    width: 100%;
    border-radius: 7px 7px 0 0;
    bottom: -5px;
}

.numbers__number {
    width: 300px
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5% 3%;
}

.numbers__subnumber {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
    border-top: 0;
    border-radius: 0 0 7px 7px;
}

.numbers__subnumber h3 {
    font-size: 23px;
    padding: 3% 0;
}

.numbers__subnumber li {
    padding: 1.5% 0;
    list-style-type: none;
}

.numbers__subnumber ul {
    padding-bottom: 15px;
}

.numbers__subnumber p span {
    font-weight: bold;
}

.numbers__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 4px 4px 50px;
    border-radius: 50px;
    border: 0;
    color: white;
    background-color: #FF7236;
    margin-bottom: 14px;
}

.stock {
    margin: 0 auto;
    background: url(../images/numbers/banner.jpg) no-repeat;
    background-size: cover;
    margin-top: 15%;
    margin-bottom: 5%;
    grid-column: 1/3;
    width: 1098px;
    height: 358px;
    border-radius: 20px;
    padding: 50px 0 0 50px;
}

.stock h2 {
    font-size: 50px;
}

.stock h2 span {
    font-size: 65px;
}

.stock button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 15px;
    border: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(92, 92, 92, 0.178);
    border-radius: 50px;
    margin-top: 3%;
    width: 170px;
    font-weight: 600;
}

.filtr button {
    display: none;
    align-items: center;
    border: 0;
    background-color: white;
    box-shadow: 0 0 10px rgb(228, 228, 228);
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    border-radius: 50px;
    width: 110px;
}

.close {
    font-weight: bold;
    font-size: 20px;
    float: right;
    display: none;
}

.mobile-image {
    display: none;
}

@media (max-width:1300px) {
    main aside {
        display: none;
    }
    main {
        padding: 10px;
    }
    main section {
        grid-template-columns: 5% 1fr 5%;
        display: grid;
    }
    .numbers {
        grid-template-columns: repeat(3, 1fr);
        grid-column: 2;
        grid-gap: 3% 5%;
    }
    .filtr button {
        display: flex;
    }
    footer .map img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    footer aside h2 {
        font-size: 25px;
    }
    footer aside h3 {
        font-size: 15px;
    }
    footer aside {
        padding: 20px;
    }
    .footer__mainContent {
        grid-template-columns: 1fr 1fr !important;
    }
    .stock {
        width: 1000px;
        height: 400px;
        padding: 50px 0 0 50px;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 99999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.400);
    }
    .modal-content {
        background-color: rgb(255, 255, 255);
        margin: 15% auto;
        border-radius: 15px;
        padding: 20px;
        width: 35%;
    }
    .myBtn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close {
        cursor: pointer;
        display: block;
    }
}

@media(max-width: 1200px) {
    main section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .numbers {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2% 10%;
    }
    .stock {
        width: 80%;
    }
    .stock button {
        font-size: 24px;
        height: 70px;
        width: 300px;
    }
    .stock button img {
        width: 50px;
    }
}

@media (max-width: 790px) {
    footer aside {
        grid-column: 1/3;
    }
    footer .map {
        grid-column: 1/3;
    }
    .numbers {
        grid-template-columns: repeat(1, 1fr);
    }
    .main__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20% 0;
    }
    .main__header h1 {
        grid-column: 1/3;
    }
    .tree {
        right: 20px;
    }
    header nav ul li a {
        font-size: 15px;
    }
    header nav ul {
        display: block;
    }
    .main__header {
        padding: 1%;
    }
    .main__header h1 {
        font-size: 25px;
    }
    .main__header h4,
    .main__header h3 {
        font-size: 15px;
    }
    .stock {
        margin-top: 300px;
        width: 86%;
        padding: 15px;
        height: 300px;
    }
    .stock button {
        width: 250px;
    }
    .stock h2,
    .stock h2 span {
        font-size: 30px;
    }
    .modal-content {
        width: 70%;
    }
    .aside__header input {
        width: 100%;
        padding: 2px 5px !important;
    }
    .mobile-image {
        display: block;
    }
    #navigation {
        display: none;
    }
    .show_menu {
        animation: show_header_menu 1s;
        display: block !important;
    }
    #mobile-button2 {
        display: none;
    }
    .hide_menu {
        animation: hide_header_menu 1s;
        display: none !important;
    }
    header {
        padding: 5px 10px;
        height: 70px;
    }
    header nav {
        display: flex;
        align-items: center;
    }
    footer header nav ul {
        display: block !important;
    }
    @keyframes hide_header_menu {
        from {
            opacity: 100%;
        }
        to {
            opacity: 0%;
        }
    }
    @keyframes show_header_menu {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }
}

@media (max-width: 376px) {
    .aside__header {
        grid-gap: 10px;
    }
}